<div class="d-flex flex-column h-100">
  <div class="p-3 border-bottom">
    <div class="d-flex align-items-center">
      <img src="assets/sintad_logo.jpg" alt="Logo" class="logo me-2" style="height: 30px;">
      <h3 class="m-0 fs-5">Gestión de Entidades</h3>
    </div>
  </div>
  <nav class="flex-grow-1 p-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" routerLink="/entidades" routerLinkActive="active">
          <i class="bi bi-building me-2"></i>
          <span>Entidades</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" routerLink="/tipo-contribuyente" routerLinkActive="active">
          <i class="bi bi-people me-2"></i>
          <span>Tipo de Contribuyentes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" routerLink="/tipo-documento" routerLinkActive="active">
          <i class="bi bi-file-text me-2"></i>
          <span>Tipo de Documentos</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="p-3 border-top mt-auto">
    <button class="btn btn-danger w-100" (click)="logout()">Salir</button>
  </div>
</div>
