<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th *ngFor="let column of columns">{{ column.label }}</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data">
    <td *ngFor="let column of columns">{{ item[column.key] }}</td>
    <td>
      <button class="btn btn-warning btn-sm" (click)="edit.emit(item)">Editar</button>
      <button class="btn btn-danger btn-sm" (click)="delete.emit(item)">Eliminar</button>
    </td>
  </tr>
  </tbody>
</table>
